[Unit]
Description=Searching for robot ip
[Service]
ExecStart=/usr/bin/node /root/pyShutdown/ipServer/ipServer.js
Restart=always
Type=simple
[Install]
WantedBy=multi-user.target
